@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
html {
  height: 100%;
  background-color: transparent;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Helvetica, Meiryo, "メイリオ", Osaka, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 10px;
  line-height: 1.5;
}
body {
  height: 100%;
  background-color: transparent;
  -webkit-app-region: drag;
}
img {
  vertical-align: bottom;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"],
button {
  background-color: #fff;
  border: 1px solid #979797;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: normal;
  -moz-appearance: normal;
  appearance: normal;
  padding: 0;
}
input[type="text"].error,
button.error {
  background-color: #fcc;
}
.app {
  width: 300px;
  padding: 20px;
  background: #d8d8d8;
  border: 3px solid #979797;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.group-tempo {
  position: relative;
  margin-bottom: 20px;
  zoom: 1;
}
.group-tempo:before,
.group-tempo:after {
  content: "";
  display: table;
}
.group-tempo:after {
  clear: both;
}
.tempo {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 3.6rem;
  line-height: 1.16;
  text-align: center;
}
.btn-tempo {
  display: block;
  width: 112px;
  height: 34px;
  overflow: hidden;
  font-size: 2.4rem;
  line-height: 1.33;
}
.btn-tempo.down {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-tempo.up {
  float: right;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-tempo.mode {
  position: absolute;
  top: 0;
  left: 50%;
  width: 34px;
  height: 34px;
  margin-left: -17px;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-indent: -9999px;
}
.btn-tempo.mode.mode-trad {
  background: url("../img/trad.png") no-repeat 0 0;
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  background-size: 32px 32px;
}
.btn-tempo.mode.mode-one {
  background: url("../img/one.png") no-repeat 0 0;
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  background-size: 32px 32px;
}
.group-bell-setting {
  margin-bottom: 20px;
  border: 1px solid #979797;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}
.group-bell-setting .row {
  display: block;
  zoom: 1;
}
.group-bell-setting .row:before,
.group-bell-setting .row:after {
  content: "";
  display: table;
}
.group-bell-setting .row:after {
  clear: both;
}
.group-bell-setting .row:first-child {
  border-bottom: 1px solid #979797;
}
.btn-bell {
  float: left;
  width: 25%;
  height: 33px;
  overflow: hidden;
  border: 0;
  border-right: 1px solid #979797;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: 2.4rem;
  line-height: 1.33;
}
.btn-bell:last-child {
  border-right: 0;
}
.btn-bell-active {
  color: #f33;
  -webkit-box-shadow: inset 1px 1px 2px 0 #979797;
  box-shadow: inset 1px 1px 2px 0 #979797;
}
.group-bell-icons {
  margin-bottom: 20px;
  text-align: center;
  zoom: 1;
}
.group-bell-icons:before,
.group-bell-icons:after {
  content: "";
  display: table;
}
.group-bell-icons:after {
  clear: both;
}
.bell-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 7px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #979797;
  vertical-align: top;
}
.bell-icon-top {
  background-color: #454545;
}
.bell-icon-active {
  background-color: #d0021b;
}
.btn-toggle {
  display: block;
  width: 100%;
  font-size: 2.4rem;
  line-height: 1.33;
  text-align: center;
}
