@charset "UTF-8"

@import "nib"

// sprite
//@import "sprite/sprite-main"

// original function & mixin
@import "_function"
@import "_mixin"

// reset
global-reset()
reset-html5()

html
  height 100%
  font-family "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Helvetica, Meiryo, "メイリオ", Osaka, 'ＭＳ Ｐゴシック', sans-serif
  font-size 10px
  line-height 1.5
body
  height 100%
  background-color transparent
img
  vertical-align bottom
*
  box-sizing border-box

.app
  width 300px
  background #D8D8D8
  border 3px solid #979797
  border-radius 5px

// bell
.bell-icons
  clearfix()
  &.bell-icons1
    text-align center
    .bell-icon
      float none

.bell-icon
  display inline-block
  width 16px
  height 16px
  border-radius 8px
  background-color #979797
  &-top
    background-color #454545
  &-active
    background-color #D0021B

.btn-bell
  &-active
    color #f33
