extends include/base.jade

block append config
  - rootClass = 'index'

block append head
  //link(rel="stylesheet", href="/css/top.css")
  //script(src="/js/top.js")

block append bodyRoot

block append body
  p: strong Index page body
